.homeLeftPart {
    width: 70%;
    background-color: #954121;
    float: left;
    overflow: hidden;
}

.task {
    width: 750px;
    height: 200px;
    background-color: #BB6688;
    margin: 0 auto;
    margin-top: 65px;
    overflow: hidden;
    padding: 20px;
    position: relative;
}

.promulgator img {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    position: relative;
}

.promulgator span {
    position: absolute;
}

.promulgator button {
    float: none;
    position: absolute;
    left: 640px;
    top: -5px;
    background-color: white;
}

.introduction {
    width: 400px;
    margin-left: 100px;
    font-size: 20px;
}

.operation {
    position: absolute;
    bottom: -5px;
}

.operation span {
    font-size: 15px;
    margin-right: 420px;
}

.homeRightPart {
    width: 30%;
    height: 888px;
    background-color: #BB6688;
    float: right;
}

.shortcut {
    width: 400px;
    margin-top: 180px;
    margin-left: 90px;
}

.createEntry {
    width: 400px;
}

.plus {
    border: 1px solid white;
    border-radius: 50%;
    font-size: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
}

.createEntry span {
    position: relative;
    top: -55px;
    left: 60px;
}

.shortcut a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
}

.shortcut a:hover {
    color: #954121;
}

.shortcut li {
    height: 40px;
    background-color: white;
    border: 1px solid;
    padding: 5px;
    list-style: none;
}